.about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 80px;
    background-color: #ffffff;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    gap: 50px;
  }
  
  
  .about-image img {
    width: 80%;
    height: auto;
    border-radius: 10px;
  }
  

  
  .about-content h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .about-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-weight: 500;
    text-align: justify;
  }
  
  .more-btn {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #6366f1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
   border: 1px solid rgba(99, 102, 241, 0.35)
  }
  
  .more-btn:hover {
    background-color: #0d6efd;
    color: white;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .about-section {
      flex-direction: column;
      text-align: center;
      padding: 30px;
    }
  
    .about-image,
    .about-content {
      max-width: 100%;
    }
  
    .about-image {
      margin-bottom: 20px;
    }
  }
  